.taust {
    background-image: url();
    background-image: url(tartu.jpg);
}
section:nth-of-type(2) {
    white-space: initial;
    background-image: url(delta.jpg);
    background-position: right;
    text-align: left;
    align-items: left;
    
    
}
section:nth-of-type(3) {
    background-image: url(raamatukogu.jpg);
    background-position: left;
    text-align: right;
    align-items: right;
}
section:nth-of-type(4) {
    background-image: url(sade.jpg);
    background-position: right;
}

