@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
* {
    margin:0;
    padding:0;
}
body {
    background-color: #15202B;
    font-family: "Poppins";
    color: white;
    margin:0;
}

nav {
    background-color:rgb(44,86,150);
    /* background-color: #15202B; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin:0; 
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

nav li{
    display: inline;
    margin-right: 40px;    
}


nav a {
    color: white;
    text-align: center;
    width: 200px;
    font-size: 24px;
    font-family:"Helvetica";
    text-decoration:none;
    font-weight: bold;
    padding-top:1vmax;
    padding-bottom:1vmax;
    padding-right: 20px;
    padding-left: 20px;
}
nav a:hover {
    background-color: rgb(59, 110, 187);
}
section {
    padding: 5em 2em;
}
[data-animation="parallax"] .taust{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 600px;
}

[data-animation="parallax"] .leht {
    background-size:contain;
    height: 400px;
    background-repeat: no-repeat;
    color: white;
    align-content: left;

}
.leht a {
    text-decoration: none;
    color: lightcoral;
}

section:nth-of-type(2) { 
    background-color: #2b6777;
    

}
section:nth-of-type(3) { 
    background-color: #264143;
}

h1 {
    font-size: 3em;
    font-family: "Poppins";
    color: white;   
}
h1 span {
    background-color: #15202B;
    padding:5px;
}

.list li {
        font-size: 1.7em;
        margin-bottom:1em;
        margin-left: 2em;
        position: relative;
        list-style-type:none;
}

.list li:before {
    content: "";
    left: -1em;
    position: absolute;
    margin-top: 0.5em;
    width: 20px;
    height: 20px;
    background-image: url(checkmark.png);
    background-size: contain;
    margin-right: .5em;
  }
.tutvustus1 {
    margin:0;
    text-align: left;
    width:20%;
    font-size: 1.3em;
}
.tutvustus2 {
    margin: auto 70%;
    width: 30%;
    text-align: right;
    font-size: 1.3em;
}

.kaart {
    width:40%;
    height:500px; 
    border:0;
    margin: 20px; 
}
.põhiosa a{
    text-decoration: none;
    color: lightcoral;
}
h2{margin-bottom: 15px}